Page {
  background-color: #f0f0f0;
  color: #222;
}

ActionBar {
  background-color: #3f51b5;
  color: white;
}

Button {
  background-color: #3f51b5;
  color: white;
  border-radius: 6;
  margin: 5;
  padding: 10;
}

Button.-primary {
  background-color: #1976d2;
}

.list-group-item {
  background-color: #e0e0e0;
  margin-bottom: 5;
  border-radius: 4;
}
